asgiref==3.9.2
cffi==2.0.0
coverage==7.14.2
cryptography==49.0.0
Django==5.2.6
Django==5.2.15
djangorestframework==3.16.1
django-cors-headers==4.9.0
django-filter==25.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
ecdsa==0.19.2
filetype==1.2.0
freezegun==1.5.5
iniconfig==2.3.0
packaging==26.2
pluggy==1.6.0
pyasn1==0.6.3
pycparser==3.0
Pygments==2.20.0
PyJWT==2.12.1
pytest==9.1.1
pytest-cov==7.1.0
pytest-django==4.12.0
python-dateutil==2.9.0.post0
sqlparse==0.5.5
asgiref==3.11.1
python-dotenv==1.1.1
python-jose==3.5.0
rsa==4.9.1
six==1.17.0
sqlparse==0.5.5

filetype==1.2.0
psycopg2-binary==2.9.9
tzdata==2026.2
dj-database-url==3.1.2